on early-init
    # boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 2000000
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 2300000

    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 5500000000


on init
    # boot perf. tune
    write /dev/cpuctl/system-background/cpu.uclamp.min 100
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground/cpu.uclamp.min 100
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 100
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/top-app/cpu.uclamp.min 100
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1
    write /dev/cpuctl/background/cpu.uclamp.min 100
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 1

    # Set teo as cpu idle governor
    write /sys/devices/system/cpu/cpuidle/current_governor teo

    # update cpus for cpuset cgroup
    write /dev/cpuset/foreground/cpus 0-6
    write /dev/cpuset/foreground_window/cpus 0-6
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,6
    setprop dalvik.vm.dex2oat-threads 6

    # Boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "performance"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "performance"

    # fs
    write /dev/sys/fs/by-name/userdata/iostat_enable 0
    write /dev/sys/fs/by-name/userdata/cp_interval 6000
    write /dev/sys/fs/by-name/userdata/gc_urgent_sleep_time 200

    # VM
    write /proc/sys/vm/dirty_background_ratio 10

on charger
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0

on property:sys.boot_completed=1
    # Adjust watermark level
    write /proc/sys/vm/watermark_scale_factor 200

    write /proc/sys/kernel/sched_migration_cost_ns 200000

    # restore boot perf. tune
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq 0
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_min_freq 0
    write /sys/class/devfreq/mtk-dvfsrc-devfreq/userspace/set_freq 0

    # End boot time tuning
    write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy6/scaling_governor "schedutil"

    # Configure clamps for standard task groups.
    # system-background
    # cap the max utilisation for system-background tasks to save power.
    write /dev/cpuctl/system-background/cpu.uclamp.max 40
    write /dev/cpuctl/system-background/cpu.uclamp.min 0
    write /dev/cpuctl/system-background/cpu.uclamp.latency_sensitive 0

    # foreground
    write /dev/cpuctl/foreground/cpu.uclamp.max max
    write /dev/cpuctl/foreground/cpu.uclamp.min 0
    write /dev/cpuctl/foreground/cpu.uclamp.latency_sensitive 0

    # foreground_window
    write /dev/cpuctl/foreground_window/cpu.uclamp.max max
    write /dev/cpuctl/foreground_window/cpu.uclamp.min 10
    write /dev/cpuctl/foreground_window/cpu.uclamp.latency_sensitive 0

    # top-app
    write /dev/cpuctl/top-app/cpu.uclamp.max max
    write /dev/cpuctl/top-app/cpu.uclamp.min 0
    write /dev/cpuctl/top-app/cpu.uclamp.latency_sensitive 1

    # background
    # cap the max utilisation for background tasks to save power.
    write /dev/cpuctl/background/cpu.uclamp.max 50
    write /dev/cpuctl/background/cpu.uclamp.min 0
    write /dev/cpuctl/background/cpu.uclamp.latency_sensitive 0

    # nnapi-hal
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.max max
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.min 75
    write /dev/cpuctl/nnapi-hal/cpu.uclamp.latency_sensitive 1

    # camera-daemon
    write /dev/cpuctl/camera-daemon/cpu.uclamp.max max
    write /dev/cpuctl/camera-daemon/cpu.uclamp.min 50
    write /dev/cpuctl/camera-daemon/cpu.uclamp.latency_sensitive 1

    # Uclamp tuning
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0
    write /proc/sys/kernel/sched_util_clamp_min 128

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

service vendor.gralloc-4-0 /vendor/bin/hw/android.hardware.graphics.allocator@4.0-service-mediatek
    class hal animation
    interface android.hardware.graphics.allocator@4.0::IAllocator default
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override

service vendor.hwcomposer-3-1 /vendor/bin/hw/android.hardware.graphics.composer@3.1-service
    class hal animation
    user system
    group graphics drmrpc
    capabilities SYS_NICE
    onrestart restart surfaceflinger
    task_profiles ProcessCapacityHigh HighPerformance
    override
